In [1]:
import pandas as pd
import requests


url_aluminium  = 'https://www.lme.com/api/trading-data/day-delayed?datasourceId=1a0ef0b6-3ee6-4e44-a415-7a313d5bd771'
url_copper = 'https://www.lme.com/api/trading-data/day-delayed?datasourceId=762a3883-b0e1-4c18-b34b-fe97a1f2d3a5'
url_lead = 'https://www.lme.com/api/trading-data/day-delayed?datasourceId=bc443de6-0bdd-4464-8845-9504f528b0c6'
url_nikel = 'https://www.lme.com/api/trading-data/day-delayed?datasourceId=acadf037-c13f-42f2-b42a-cac9a8179940'
url_zink = 'https://www.lme.com/api/trading-data/day-delayed?datasourceId=c389e2b0-c4a3-46a0-96ca-69cacbe90ee4'

req_list = {'aluminium':url_aluminium, 'copper':url_copper, 'lead':url_lead, 'nikel':url_nikel, 'zink':url_zink}
day_dict = {'date':[],'aluminium':[],'copper':[],'lead':[],'nikel':[],'zink':[],}

for metal, url in req_list.items():
    req = requests.get(url).json()
    metal_dict = req['Rows'][0]
    day_dict[metal] = float(metal_dict['Values'][1])
    day_dict['date'] = metal_dict['BusinessDateTime']

In [2]:
#Создание строки содержащей дневные данные

dict_ = dict(day_dict)
day_string = pd.DataFrame([dict_])
day_string.date = pd.to_datetime(day_string.date)

In [3]:
day_string

        date  aluminium  copper    lead    nikel    zink
0 2022-12-09     2453.5  8490.5  2207.0  29850.0  3247.0

In [24]:

lme_db = pd.read_excel('LME_db.xlsx', index_col=0)
lme_db = pd.concat([lme_db, day_string], axis=0)
#lme_db.drop_duplicates(inplace=True)

In [25]:
writer = pd.ExcelWriter('LME_db.xlsx') # write dataframe to excel 
lme_db.to_excel(writer) # save the excel 
writer.save()

/var/folders/18/xwlc5znx4tz1pcrtznkl3fch0000gn/T/ipykernel_5006/2234398401.py:3: FutureWarning: save is not part of the public API, usage can give unexpected results and will be removed in a future version
  writer.save()

In [93]:
day_string

        date  aluminium  copper    lead    nikel    zink
0 2022-12-07     2450.5  8334.0  2206.0  28725.0  3140.0

In [94]:
lme_db = lme_db.append(day_string)

/var/folders/18/xwlc5znx4tz1pcrtznkl3fch0000gn/T/ipykernel_2782/891667500.py:2: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  lme_db = lme_db.append(day_string)

In [136]:
#lme_df = pd.read_csv('/Users/hotdonkey/Documents/GitHub/data_science_learning/code/data/lme_df.csv',sep=';')
#lme_df = pd.concat([lme_df,lme_db],axis=0)
#lme_df.to_csv('/Users/hotdonkey/Documents/GitHub/data_science_learning/code/data/lme_df.csv')

In [129]:
lme_df

        date  aluminium  copper    lead    nikel    zink
0 2022-12-07     2450.5  8334.0  2206.0  28725.0  3140.0

In [137]:
lme_df = pd.read_csv('/Users/hotdonkey/Documents/GitHub/data_science_learning/code/data/lme_df.csv',sep=',')
lme_df = pd.concat([lme_df,lme_db],axis=0)
lme_df.to_csv('/Users/hotdonkey/Documents/GitHub/data_science_learning/code/data/lme_df.csv')

In [138]:
lme_df

,Unnamed: 0,",Unnamed: 0.1,Unnamed: 0,date,aluminium,copper,lead,nikel,zink",date,aluminium,copper,lead,nikel,zink
0,0.0,"0,0.0,0.0,2022-12-07,2450.5,8334.0,2206.0,2872...",NaN,NaN,NaN,NaN,NaN,NaN
1,1.0,"1,0.0,,2022-12-07 00:00:00,2450.5,8334.0,2206....",NaN,NaN,NaN,NaN,NaN,NaN
2,2.0,"0,,,2022-12-07 00:00:00,2450.5,8334.0,2206.0,2...",NaN,NaN,NaN,NaN,NaN,NaN
3,0.0,NaN,2022-12-07,2450.5,8334.0,2206.0,28725.0,3140.0
0,NaN,NaN,2022-12-07 00:00:00,2450.5,8334.0,2206.0,28725.0,3140.0