In [1]:
import pandas as pd

In [4]:
data = pd.read_excel('cb_curr.xlsx', index_col=0)

In [5]:
data

          Date                 Id  Nominal    Value
0   2022-12-28                USD        1  69.9346
1   2022-12-28                EUR        1  74.1829
2   2022-12-28  Australian_Dollar        1  46.7163
3   2022-12-28         China_Yuan       10  99.4575
4   2022-12-28      British_Pound        1  84.1313
..         ...                ...      ...      ...
395 2023-03-17         China_Yuan        1  11.0485
396 2023-03-17      British_Pound        1  91.9053
397 2023-03-17   Kazakhstan_Tenge      100  16.4396
398 2023-03-17       Japanese_Yen      100  57.6458
399 2023-03-17        Swiss_Franc        1  82.4266

[400 rows x 4 columns]