In [7]:
import pandas as pd
import numpy as np
from datetime import date

day = date.today()
today = day.strftime('%d/%m/%Y')

headers = {
    'user-agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/107.0.0.0 Safari/537.36'
}

dict_of_currencies = {
    'R01235': 'USD',
    'R01239': 'EUR',
    'R01010': 'Australian_Dollar',
    'R01375': 'China_Yuan',
    'R01035': 'British_Pound',
    'R01335': 'Kazakhstan_Tenge',
    'R01815': 'Japanese_Yen',
    'R01775': 'Swiss_Franc'
}

list_of_currencies = [x for x in dict_of_currencies.keys()]

URL_list = []
for currency in list_of_currencies:
    URL = f'http://www.cbr.ru/scripts/XML_dynamic.asp?date_req1={today}&date_req2={today}&VAL_NM_RQ={currency}'
    URL_list.append(URL)


currency_df = pd.DataFrame([{'Date':np.NAN,'Id':np.NAN,'Nominal':np.NAN,'Value':np.NAN}])
currency_df['Date'] = pd.to_datetime(currency_df['Date'], dayfirst=True)

for url_element in URL_list:
    response_df = pd.read_xml(url_element)
    response_df['Date'] = pd.to_datetime(response_df['Date'], dayfirst=True)
    response_df['Value'] = response_df['Value'].apply(lambda x: x.replace(',', '.'))
    response_df['Value'] = response_df['Value'].apply(pd.to_numeric)
    response_df = response_df.replace(dict_of_currencies)
    currency_df = pd.concat([currency_df, response_df])
    currency_df.dropna(inplace=True)
    currency_df.drop_duplicates(inplace=True)

In [ ]:
def cb_curr():
    day = date.today()
    today = day.strftime('%d/%m/%Y')

    headers = {
        'user-agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/107.0.0.0 Safari/537.36'
    }

    dict_of_currencies = {
        'R01235': 'USD',
        'R01239': 'EUR',
        'R01010': 'Australian_Dollar',
        'R01375': 'China_Yuan',
        'R01035': 'British_Pound',
        'R01335': 'Kazakhstan_Tenge',
        'R01815': 'Japanese_Yen',
        'R01775': 'Swiss_Franc'
    }

    list_of_currencies = [x for x in dict_of_currencies.keys()]

    URL_list = []
    for currency in list_of_currencies:
        URL = f'http://www.cbr.ru/scripts/XML_dynamic.asp?date_req1={today}&date_req2={today}&VAL_NM_RQ={currency}'
        URL_list.append(URL)


    currency_df = pd.DataFrame([{'Date':np.NAN,'Id':np.NAN,'Nominal':np.NAN,'Value':np.NAN}])
    currency_df['Date'] = pd.to_datetime(currency_df['Date'], dayfirst=True)

    for url_element in URL_list:
        response_df = pd.read_xml(url_element)
        response_df['Date'] = pd.to_datetime(response_df['Date'], dayfirst=True)
        response_df['Value'] = response_df['Value'].apply(lambda x: x.replace(',', '.'))
        response_df['Value'] = response_df['Value'].apply(pd.to_numeric)
        response_df = response_df.replace(dict_of_currencies)
        currency_df = pd.concat([currency_df, response_df])
        currency_df.dropna(inplace=True)
        currency_df.drop_duplicates(inplace=True)

In [6]:
currency_df

        Date                 Id  Nominal    Value
0 2022-12-28                USD      1.0  69.9346
0 2022-12-28                EUR      1.0  74.1829
0 2022-12-28  Australian_Dollar      1.0  46.7163
0 2022-12-28         China_Yuan     10.0  99.4575
0 2022-12-28      British_Pound      1.0  84.1313
0 2022-12-28   Kazakhstan_Tenge    100.0  15.1669
0 2022-12-28       Japanese_Yen   1000.0  55.0060
0 2022-12-28        Swiss_Franc      1.0  75.3119