In [111]:
import pandas as pd
import requests
from datetime import date

# URL = 'http://www.cbr.ru/scripts/XML_dynamic.asp?date_req1=01/10/2022&date_req2=31/12/2022&VAL_NM_RQ=R01235 '

day = date.today()
today = day.strftime('%d/%m/%Y')

URL = f'http://www.cbr.ru/scripts/XML_dynamic.asp?date_req1={today}&date_req2={today}&VAL_NM_RQ=R01235 '

headers = {
    'user-agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/107.0.0.0 Safari/537.36'
}

dict_of_currencies = {
    'R01235': 'USD',
    'R01239': 'EUR',
    'R01010': 'Australian_Dollar',
    'R01375': 'China_Yuan',
    'R01035': 'British_Pound',
    'R01335': 'Kazakhstan_Tenge',
    'R01815': 'Japanese_Yen',
    'R01775': 'Swiss_Franc'
}

list_of_currencies = [dict_of_currencies.keys()]

response = requests.get(URL, headers=headers)

In [112]:
# Block of transformation
usd_df = pd.read_xml(URL)
usd_df['Date'] = pd.to_datetime(usd_df['Date'], dayfirst=True)
usd_df['Value'] = usd_df['Value'].apply(lambda x: x.replace(',', '.'))
usd_df['Value'] = usd_df['Value'].apply(pd.to_numeric)
usd_df = usd_df.replace(dict_of_currencies)

In [113]:
usd_df

        Date   Id  Nominal    Value
0 2022-12-28  USD        1  69.9346