In [25]:
import pandas as pd
import datetime
from datetime import date, datetime
import requests
import numpy

In [40]:
def date_format(date_raw):
    timestamp = date_raw / 1000
    print(timestamp)
    date = datetime.fromtimestamp(timestamp)
    print(date)
    formatted_date = date.strftime("%Y-%m-%d %H:%M:%S")
    return formatted_date

In [11]:
date_ = 1691039639273

In [12]:
date_format(date_)

1691039639.273
2023-08-03 10:13:59.273000

'2023-08-03 10:13:59'

In [16]:
date_now = date.today()
date_string = date_now.strftime("%Y-%m-%d %H:%M:%S")
date_raw = datetime.strptime(date_string, "%Y-%m-%d %H:%M:%S").timestamp()
date_raw*1000

1691002800000.0

In [23]:
def date_format_reverse():
    date_now = date.today()
    date_string = date_now.strftime("%Y-%m-%d %H:%M:%S")
    date_raw = datetime.strptime(date_string, "%Y-%m-%d %H:%M:%S").timestamp()
    date_raw = date_raw*1000
    return int(date_raw)

In [28]:
day = date.today()
today = date_format_reverse()

In [31]:
url = f'https://en.shmet.com/api/rest/enweb/spot/getChartPrices?scId=811&startDate={day}&endDate={day}&_{today}'

response = requests.get(url)

data = response.json()['data']['spotPrices']

In [34]:
data = pd.DataFrame(data)
data

        dateTime  price     unit
0  1691033400000  69425  Yuan/MT

In [41]:
data['dateTime'] = data['dateTime'].apply(date_format)
#data.rename({'dateTime': 'date'}, axis=1, inplace=True)
#data['date'] = pd.to_datetime(data['date']).dt.date
#data['date'] = pd.to_datetime(data['date'])
data

1691033400.0
2023-08-03 08:30:00

              dateTime  price     unit
0  2023-08-03 08:30:00  69425  Yuan/MT