In [1]:
import pandas as pd
import numpy as np
import requests
from datetime import date, datetime

In [2]:
url = 'https://www.westmetall.com/en/markdaten.php?action=table&field=LME_Al_cash'

In [3]:
responce = requests.get(url=url)

In [7]:
len(pd.read_html(responce.text))

16

In [9]:
pd.read_html(responce.text)[0]

,date,LME Aluminium Cash-Settlement,LME Aluminium 3-month,LME Aluminium stock
0,06. October 2023,2208.00,2239.00,497650
1,05. October 2023,2195.50,2233.00,500850
2,04. October 2023,2231.00,2271.00,502850
3,03. October 2023,2257.00,2294.00,504850
4,02. October 2023,2286.50,2317.00,486775
...,...,...,...,...
197,09. January 2023,2336.50,2370.00,422075
198,06. January 2023,2242.50,2275.00,428525
199,05. January 2023,2270.00,2304.00,436500
200,04. January 2023,2250.00,2287.00,442425
201,03. January 2023,2337.50,2369.00,447250