In [103]:
import cfscrape 
import pandas as pd
from datetime import datetime
from bs4 import BeautifulSoup
import warnings
warnings.filterwarnings('ignore')

In [99]:
def get_data(url, currency='no'):
    today = pd.to_datetime(datetime.now().date())
    
    scraper = cfscrape.create_scraper() 
    scraped_data = scraper.get(url) 
    
    soup = BeautifulSoup(scraped_data.text, 'html.parser')

    data = soup.find_all('td', class_='datatable_cell__LJp3C', dir="ltr")
    time = soup.find_all('time')
    data_temp_list = [i.text for i in data]

    data_list = []

    for i in data_temp_list:
        i = i.replace('.', '')
        i = i.replace(',', '.')
        data_list.append(i)

    data = []

    for i in data_list:
        try:
            i = pd.to_numeric(i)
            data.append(i)
        except:
            pass

    if currency == 'yes':
        data = data[:23]

    else:
        pass

    time_temp_list = [i.text for i in time]
    time_temp_list = time_temp_list[1:]

    result = pd.DataFrame(data={'date': time_temp_list, 'price': data})
    result['date'] = pd.to_datetime(result['date'], dayfirst=True)

    result = result[result['date'] != today]

    result.drop_duplicates(inplace=True)
    result.reset_index(inplace=True, drop=True)

    return result

In [ ]:
def investin_com():
    
    def get_data(url, currency='no'):
        today = pd.to_datetime(datetime.now().date())
        
        scraper = cfscrape.create_scraper() 
        scraped_data = scraper.get(url) 
        
        soup = BeautifulSoup(scraped_data.text, 'html.parser')

        data = soup.find_all('td', class_='datatable_cell__LJp3C', dir="ltr")
        time = soup.find_all('time')
        data_temp_list = [i.text for i in data]

        data_list = []

        for i in data_temp_list:
            i = i.replace('.', '')
            i = i.replace(',', '.')
            data_list.append(i)

        data = []

        for i in data_list:
            try:
                i = pd.to_numeric(i)
                data.append(i)
            except:
                pass

        if currency == 'yes':
            data = data[:23]

        else:
            pass

        time_temp_list = [i.text for i in time]
        time_temp_list = time_temp_list[1:]

        result = pd.DataFrame(data={'date': time_temp_list, 'price': data})
        result['date'] = pd.to_datetime(result['date'], dayfirst=True)

        result = result[result['date'] != today]

        result.drop_duplicates(inplace=True)
        result.reset_index(inplace=True, drop=True)

        return result
    
    gdaxi = get_data('https://ru.investing.com/indices/germany-30-historical-data')
    historical_data = pd.read_excel('./data/investing_com/GDAXI.xlsx', index_col=0)
    
    imoex = get_data('https://ru.investing.com/indices/mcx-historical-data')
    
    spx = get_data('https://ru.investing.com/indices/us-spx-500-historical-data')
    
    ssek = get_data('https://ru.investing.com/indices/shanghai-composite-historical-data')
    
    urals = get_data('https://ru.investing.com/commodities/crude-oil-urals-spot-futures-historical-data')
    
    currency = get_data('https://ru.investing.com/currencies/eur-usd-historical-data', currency='yes')
    
    pass

In [101]:
gdaxi = get_data('https://ru.investing.com/indices/germany-30-historical-data')
imoex = get_data('https://ru.investing.com/indices/mcx-historical-data')
spx = get_data('https://ru.investing.com/indices/us-spx-500-historical-data')
ssek = get_data('https://ru.investing.com/indices/shanghai-composite-historical-data')
urals = get_data('https://ru.investing.com/commodities/crude-oil-urals-spot-futures-historical-data')
#currency = get_data('https://ru.investing.com/currencies/eur-usd-historical-data', currency='yes')

In [102]:
gdaxi

         date     price
0  2023-11-01  14923.27
1  2023-10-31  14810.34
2  2023-10-30  14716.54
3  2023-10-27  14687.41
4  2023-10-26  14731.05
5  2023-10-25  14892.18
6  2023-10-24  14879.94
7  2023-10-23  14800.72
8  2023-10-20  14798.47
9  2023-10-19  15045.23
10 2023-10-18  15094.91
11 2023-10-17  15251.69
12 2023-10-16  15237.99
13 2023-10-13  15186.66
14 2023-10-12  15425.03
15 2023-10-11  15460.01
16 2023-10-10  15423.52
17 2023-10-09  15128.11
18 2023-10-06  15229.77
19 2023-10-05  15070.22
20 2023-10-04  15099.92
21 2023-10-03  15085.21
22 2023-10-02  15247.21

In [95]:
df = pd.read_excel('./data/investing_com/GDAXI.xlsx', index_col=0)
df

           date     price
1    2023-10-31  14810.34
2    2023-10-30  14716.54
3    2023-10-27  14687.41
4    2023-10-26  14731.05
5    2023-10-25  14892.18
...         ...       ...
4024 2008-01-08   7849.99
4025 2008-01-07   7817.17
4026 2008-01-04   7808.69
4027 2008-01-03   7908.41
4028 2008-01-02   7949.11

[4028 rows x 2 columns]

In [96]:
test = pd.concat([gdaxi, df], axis=0).reset_index(drop=True).drop_duplicates('date')

In [97]:
with pd.ExcelWriter(
    "./data/investing_com/GDAXI_test.xlsx",
        date_format="YYYY-MM-DD",
        datetime_format="YYYY-MM-DD") as writer:
    test.to_excel(writer, sheet_name='GDAXI')

----

In [180]:
gdaxi = 'https://ru.investing.com/indices/germany-30-historical-data'
imoex = 'https://ru.investing.com/indices/mcx-historical-data'
spx = 'https://ru.investing.com/indices/us-spx-500-historical-data'
ssek = 'https://ru.investing.com/indices/shanghai-composite-historical-data'
urals = 'https://ru.investing.com/commodities/crude-oil-urals-spot-futures-historical-data'
currency = 'https://ru.investing.com/currencies/eur-usd-historical-data'

In [227]:
scraper = cfscrape.create_scraper() 
scraped_data = scraper.get(urals)

In [229]:
result = pd.read_html(scraped_data.text)[0]
result

          Дата  Цена  Откр.  Макс.  Мин.  Объём  Изм. %
0   31.10.2023  7580   7580   7580  7580    NaN  +1.96%
1   30.10.2023  7434   7434   7434  7434    NaN  -0.63%
2   27.10.2023  7481   7481   7481  7481    NaN  -0.52%
3   26.10.2023  7520   7520   7520  7520    NaN  +1.03%
4   25.10.2023  7443   7443   7443  7443    NaN  +1.00%
5   24.10.2023  7369   7369   7369  7369    NaN  -7.24%
6   23.10.2023  7944   7944   7944  7944    NaN  -1.85%
7   20.10.2023  8094   8094   8094  8094    NaN  +3.60%
8   19.10.2023  7813   7813   7813  7813    NaN  +0.54%
9   18.10.2023  7771   7771   7771  7771    NaN  +1.52%
10  17.10.2023  7655   7655   7655  7655    NaN  -1.42%
11  16.10.2023  7765   7765   7765  7765    NaN  -1.71%
12  13.10.2023  7900   7900   7900  7900    NaN  +5.28%
13  12.10.2023  7504   7504   7504  7504    NaN  +2.49%
14  11.10.2023  7322   7322   7322  7322    NaN  -4.28%
15  10.10.2023  7649   7649   7649  7649    NaN  -0.77%
16  09.10.2023  7708   7708   7708  7708    NaN  +4.63%
17  06.10.2023  7367   7367   7367  7367    NaN  -1.42%
18  05.10.2023  7473   7473   7473  7473    NaN  -3.95%
19  04.10.2023  7780   7780   7780  7780    NaN  -3.45%
20  03.10.2023  8058   8058   8058  8058    NaN  +4.41%
21  02.10.2023  7718   7718   7718  7718    NaN  -5.90%

In [211]:


result.rename(
            columns={'Дата': 'date', 'Цена': 'price'}, inplace=True)

result['price'] = result['price'].str.replace('.', '')
result['price'] = result['price'].str.replace(',', '.')
result['date'] = pd.to_datetime(result['date'], dayfirst=True)
result['price'] = pd.to_numeric(result['price'])

result = result.iloc[:,:2]
result

         date    price
0  2023-11-01  3206.52
1  2023-10-31  3200.97
2  2023-10-30  3227.07
3  2023-10-27  3224.18
4  2023-10-26  3223.89
5  2023-10-25  3265.28
6  2023-10-24  3265.01
7  2023-10-23  3263.68
8  2023-10-20  3269.27
9  2023-10-19  3255.16
10 2023-10-18  3249.21
11 2023-10-17  3247.15
12 2023-10-16  3234.78
13 2023-10-13  3192.33
14 2023-10-12  3174.66
15 2023-10-11  3194.12
16 2023-10-10  3177.03
17 2023-10-09  3174.02
18 2023-10-06  3144.89
19 2023-10-05  3131.76
20 2023-10-04  3134.25
21 2023-10-03  3143.88
22 2023-10-02  3132.33

In [176]:
df = pd.read_excel('./data/investing_com/GDAXI.xlsx', index_col=0)
df

           date     price
1    2023-10-31  14810.34
2    2023-10-30  14716.54
3    2023-10-27  14687.41
4    2023-10-26  14731.05
5    2023-10-25  14892.18
...         ...       ...
4024 2008-01-08   7849.99
4025 2008-01-07   7817.17
4026 2008-01-04   7808.69
4027 2008-01-03   7908.41
4028 2008-01-02   7949.11

[4028 rows x 2 columns]

In [177]:
test = pd.concat([result, df], axis=0).reset_index(drop=True).drop_duplicates('date')
test

           date     price
0    2023-11-01  14923.27
1    2023-10-31  14810.34
2    2023-10-30  14716.54
3    2023-10-27  14687.41
4    2023-10-26  14731.05
...         ...       ...
4046 2008-01-08   7849.99
4047 2008-01-07   7817.17
4048 2008-01-04   7808.69
4049 2008-01-03   7908.41
4050 2008-01-02   7949.11

[4029 rows x 2 columns]

In [ ]:
with pd.ExcelWriter(
    "./data/investing_com/GDAXI_test.xlsx",
        date_format="YYYY-MM-DD",
        datetime_format="YYYY-MM-DD") as writer:
    test.to_excel(writer, sheet_name='GDAXI')

In [232]:
def investing_com():

    def get_data(url, table_idx=1, currency=False):
        today = pd.to_datetime(datetime.now().date())

        scraper = cfscrape.create_scraper()
        scraped_data = scraper.get(url)

        data_frame = pd.read_html(scraped_data.text)[table_idx]

        data_frame.rename(
            columns={'Дата': 'date', 'Цена': 'price'}, inplace=True)

        result = data_frame[['date', 'price']]
        result = pd.DataFrame(result)
        print(result)
        
        if currency:
            result['price'] = result['price']/10000

        else:
            
            try:
                result['price'] = result['price'].str.replace('.', '')
                result['price'] = result['price'].str.replace(',', '.')
                result['price'] = pd.to_numeric(result['price'])
            except:
                pass
            
        result['date'] = pd.to_datetime(result['date'], dayfirst=True)

        result = result[result['date'] != today]

        result.drop_duplicates(inplace=True)
        result.reset_index(inplace=True, drop=True)

        return result

    ################################################################
    ########################### GDAXI ##############################
    ################################################################

    gdaxi = get_data(
        'https://ru.investing.com/indices/germany-30-historical-data')

    historical_data_gdaxi = pd.read_excel(
        './data/investing_com/GDAXI.xlsx', index_col=0)

    gdaxi_final = pd.concat([gdaxi, historical_data_gdaxi], axis=0).reset_index(
        drop=True).drop_duplicates('date')

    with pd.ExcelWriter("./data/investing_com/GDAXI_test.xlsx",
                        date_format="YYYY-MM-DD", datetime_format="YYYY-MM-DD") as writer:
        gdaxi_final.to_excel(writer, sheet_name='GDAXI')

    ################################################################
    ########################### IMOEX ##############################
    ################################################################

    imoex = get_data(
        'https://ru.investing.com/indices/mcx-historical-data', table_idx=0)

    historical_data_imoex = pd.read_excel(
        './data/investing_com/GDAXI.xlsx', index_col=0)

    imoex_final = pd.concat([imoex, historical_data_imoex], axis=0).reset_index(
        drop=True).drop_duplicates('date')

    with pd.ExcelWriter("./data/investing_com/IMOEX_test.xlsx",
                        date_format="YYYY-MM-DD", datetime_format="YYYY-MM-DD") as writer:
        imoex_final.to_excel(writer, sheet_name='IMOEX')

    ################################################################
    ########################### SPX ################################
    ################################################################

    spx = get_data(
        'https://ru.investing.com/indices/us-spx-500-historical-data')

    historical_data_spx = pd.read_excel(
        './data/investing_com/SPX.xlsx', index_col=0)

    imoex_final = pd.concat([spx, historical_data_spx], axis=0).reset_index(
        drop=True).drop_duplicates('date')

    with pd.ExcelWriter("./data/investing_com/SPX_test.xlsx",
                        date_format="YYYY-MM-DD", datetime_format="YYYY-MM-DD") as writer:
        imoex_final.to_excel(writer, sheet_name='SPX')

    ################################################################
    ########################### SSEK ###############################
    ################################################################

    ssek = get_data(
        'https://ru.investing.com/indices/shanghai-composite-historical-data', table_idx=0)

    historical_data_ssek = pd.read_excel(
        './data/investing_com/SSEC.xlsx', index_col=0)

    imoex_final = pd.concat([ssek, historical_data_ssek], axis=0).reset_index(
        drop=True).drop_duplicates('date')

    with pd.ExcelWriter("./data/investing_com/SSEK_test.xlsx",
                        date_format="YYYY-MM-DD", datetime_format="YYYY-MM-DD") as writer:
        imoex_final.to_excel(writer, sheet_name='SSEC')

    ################################################################
    ########################### URALS ##############################
    ################################################################

    urals = get_data(
        'https://ru.investing.com/commodities/crude-oil-urals-spot-futures-historical-data', table_idx=0)

    historical_data_urals = pd.read_excel(
        './data/investing_com/urals.xlsx', index_col=0)

    imoex_final = pd.concat([urals, historical_data_urals], axis=0).reset_index(
        drop=True).drop_duplicates('date')

    with pd.ExcelWriter("./data/investing_com/urals_test.xlsx",
                        date_format="YYYY-MM-DD", datetime_format="YYYY-MM-DD") as writer:
        imoex_final.to_excel(writer, sheet_name='urals')

    ################################################################
    ########################### EUR/USD ############################
    ################################################################

    currency = get_data(
        'https://ru.investing.com/currencies/eur-usd-historical-data', currency=True)

    historical_data_currency = pd.read_excel(
        './data/investing_com/curr.xlsx', index_col=0)

    imoex_final = pd.concat([currency, historical_data_currency], axis=0).reset_index(
        drop=True).drop_duplicates('date')

    with pd.ExcelWriter("./data/investing_com/curr_test.xlsx",
                        date_format="YYYY-MM-DD", datetime_format="YYYY-MM-DD") as writer:
        imoex_final.to_excel(writer, sheet_name='urals')

    return None

In [233]:
investing_com()

          date      price
0   01.11.2023  14.923,27
1   31.10.2023  14.810,34
2   30.10.2023  14.716,54
3   27.10.2023  14.687,41
4   26.10.2023  14.731,05
5   25.10.2023  14.892,18
6   24.10.2023  14.879,94
7   23.10.2023  14.800,72
8   20.10.2023  14.798,47
9   19.10.2023  15.045,23
10  18.10.2023  15.094,91
11  17.10.2023  15.251,69
12  16.10.2023  15.237,99
13  13.10.2023  15.186,66
14  12.10.2023  15.425,03
15  11.10.2023  15.460,01
16  10.10.2023  15.423,52
17  09.10.2023  15.128,11
18  06.10.2023  15.229,77
19  05.10.2023  15.070,22
20  04.10.2023  15.099,92
21  03.10.2023  15.085,21
22  02.10.2023  15.247,21
          date     price
0   01.11.2023  3.206,52
1   31.10.2023  3.200,97
2   30.10.2023  3.227,07
3   27.10.2023  3.224,18
4   26.10.2023  3.223,89
5   25.10.2023  3.265,28
6   24.10.2023  3.265,01
7   23.10.2023  3.263,68
8   20.10.2023  3.269,27
9   19.10.2023  3.255,16
10  18.10.2023  3.249,21
11  17.10.2023  3.247,15
12  16.10.2023  3.234,78
13  13.10.2023  3.192,33
14  12.10.2023  3.174,66
15  11.10.2023  3.194,12
16  10.10.2023  3.177,03
17  09.10.2023  3.174,02
18  06.10.2023  3.144,89
19  05.10.2023  3.131,76
20  04.10.2023  3.134,25
21  03.10.2023  3.143,88
22  02.10.2023  3.132,33
          date     price
0   01.11.2023  4.237,86
1   31.10.2023  4.193,80
2   30.10.2023  4.166,82
3   27.10.2023  4.117,37
4   26.10.2023  4.137,23
5   25.10.2023  4.186,77
6   24.10.2023  4.247,68
7   23.10.2023  4.217,04
8   20.10.2023  4.224,16
9   19.10.2023  4.278,00
10  18.10.2023  4.314,60
11  17.10.2023  4.373,20
12  16.10.2023  4.373,63
13  13.10.2023  4.327,78
14  12.10.2023  4.349,61
15  11.10.2023  4.376,95
16  10.10.2023  4.358,24
17  09.10.2023  4.335,66
18  06.10.2023  4.308,50
19  05.10.2023  4.258,19
20  04.10.2023  4.263,75
21  03.10.2023  4.229,45
22  02.10.2023  4.288,39
          date     price
0   02.11.2023  3.024,14
1   01.11.2023  3.023,08
2   31.10.2023  3.018,77
3   30.10.2023  3.021,55
4   27.10.2023  3.017,78
5   26.10.2023  2.988,30
6   25.10.2023  2.974,11
7   24.10.2023  2.962,24
8   23.10.2023  2.939,29
9   20.10.2023  2.983,06
10  19.10.2023  3.005,39
11  18.10.2023  3.058,71
12  17.10.2023  3.083,50
13  16.10.2023  3.073,81
14  13.10.2023  3.088,10
15  12.10.2023  3.107,90
16  11.10.2023  3.078,96
17  10.10.2023  3.075,24
18  09.10.2023  3.096,92
          date  price
0   31.10.2023   7580
1   30.10.2023   7434
2   27.10.2023   7481
3   26.10.2023   7520
4   25.10.2023   7443
5   24.10.2023   7369
6   23.10.2023   7944
7   20.10.2023   8094
8   19.10.2023   7813
9   18.10.2023   7771
10  17.10.2023   7655
11  16.10.2023   7765
12  13.10.2023   7900
13  12.10.2023   7504
14  11.10.2023   7322
15  10.10.2023   7649
16  09.10.2023   7708
17  06.10.2023   7367
18  05.10.2023   7473
19  04.10.2023   7780
20  03.10.2023   8058
21  02.10.2023   7718
          date  price
0   02.11.2023  10598
1   01.11.2023  10587
2   31.10.2023  10576
3   30.10.2023  10613
4   27.10.2023  10564
5   26.10.2023  10560
6   25.10.2023  10563
7   24.10.2023  10588
8   23.10.2023  10668
9   20.10.2023  10593
10  19.10.2023  10579
11  18.10.2023  10535
12  17.10.2023  10575
13  16.10.2023  10558
14  13.10.2023  10509
15  12.10.2023  10526
16  11.10.2023  10617
17  10.10.2023  10603
18  09.10.2023  10565
19  06.10.2023  10586
20  05.10.2023  10548
21  04.10.2023  10503
22  03.10.2023  10465
23  02.10.2023  10476

In [ ]:
gdaxi = 'https://ru.investing.com/indices/germany-30-historical-data'
imoex = 'https://ru.investing.com/indices/mcx-historical-data'
spx = 'https://ru.investing.com/indices/us-spx-500-historical-data'
ssek = 'https://ru.investing.com/indices/shanghai-composite-historical-data'
urals = 'https://ru.investing.com/commodities/crude-oil-urals-spot-futures-historical-data'
currency = 'https://ru.investing.com/currencies/eur-usd-historical-data'