In [1]:
import pandas as pd
import numpy as np
import requests

In [2]:
url = 'https://en.shmet.com/api/rest/enweb/spot/getSpotPrice?code=baseMetal&size=10&currentLength=0'

In [4]:
responce = requests.get(url)

In [17]:
day_df = pd.DataFrame(responce.json()['data'])
day_df

,scId,code,type,pos,name,low,high,middle,change,time,unit,showIcon
0,811,HomeEn,baseMetal,1,Cu cathode 1#,70000,70150,70075,+195,31 Aug,Yuan/MT,N
1,794,HomeEn,baseMetal,2,"Al ingot A00, East China",19590,19630,19610,+450,10:15,Yuan/MT,N
2,802,HomeEn,baseMetal,3,"Pb ingot 1#, east China",16400,16500,16450,+375,10:15,Yuan/MT,N
3,795,HomeEn,baseMetal,5,"Zn ingot 0#, Shanghai",21360,21460,21410,+160,10:15,Yuan/MT,N
4,808,HomeEn,baseMetal,6,"Zn ingot 1#, Shanghai",21290,21390,21340,+160,10:15,Yuan/MT,N
5,810,HomeEn,baseMetal,7,"Zn ingot imported, Shanghai",21330,21430,21380,+160,10:15,Yuan/MT,N
6,799,HomeEn,baseMetal,8,"Tin ingot 1#(99.9%),East China",216000,218000,217000,+1000,10:15,Yuan/MT,N
7,813,HomeEn,baseMetal,9,"Ni cathodes 1#, Shanghai",167250,170250,168750,+2700,10:15,Yuan/MT,N
8,801,HomeEn,baseMetal,10,"Ni cathodes(Russian), Shanghai",167250,167450,167350,+2700,10:15,Yuan/MT,N
9,803,HomeEn,baseMetal,11,"Ni cathodes(Jinchuan), Shanghai",170050,170250,170150,+2700,10:15,Yuan/MT,N

In [15]:
cooper_row = day_df[day_df['name'].str.contains("cu", case=False)]
cooper_row

,scId,code,type,pos,name,low,high,middle,change,time,unit,showIcon
0,811,HomeEn,baseMetal,1,Cu cathode 1#,70000,70150,70075,+195,31 Aug,Yuan/MT,N

In [18]:
def shmet_optimized():
    pass