In [1]:
# Main import block
import datetime
import signal
import time
import warnings
from contextlib import contextmanager
from datetime import date, datetime
from io import StringIO

# Sneaky scrapper
import cfscrape

# Upload to google sheets
import gspread
import numpy as np
import pandas as pd
import requests

# Upload to yandex
import yadisk
from bs4 import BeautifulSoup

# import df2gspread as d2g
from df2gspread import df2gspread as d2g
from oauth2client.service_account import ServiceAccountCredentials
from selenium import webdriver
from selenium.webdriver.chrome.service import Service

warnings.filterwarnings("ignore")

In [3]:
pd.read_excel("./data/multiple_dataframes.xlsx")

          date  aluminium  copper    lead  nickel    zink    tin
0   2022-01-04     2815.5  9660.0  2327.0   20730  3602.0  39400
1   2022-01-05     2866.0  9778.0  2343.0   20900  3660.0  39700
2   2022-01-06     2912.5  9565.0  2291.0   20480  3590.0  39650
3   2022-01-07     2919.5  9615.0  2342.0   20725  3602.5  40650
4   2022-01-10     2923.0  9665.0  2303.0   21045  3576.5  40425
..         ...        ...     ...     ...     ...     ...    ...
565 2024-04-02     2322.5  8920.0  2001.0   17000  2437.0  27845
566 2024-04-03     2334.0  8932.0  2023.0   16870  2430.0  28025
567 2024-04-04     2394.5  9257.0  2084.5   17230  2551.5  28450
568 2024-04-05     2391.0  9198.0  2091.0   17475  2587.5  28705
569 2024-04-08     2415.0  9299.0  2110.0   17675  2626.0  29385

[570 rows x 7 columns]